.clock {
    transition: all .5s ease-in-out;
    top: 14%;
    left: 38%;
    border-radius: 50%;
    background: #f3f3f3 url(../img/ios_clock.svg) no-repeat center;
    background-size: 88%;
    height: 70px;
    padding-bottom: 1%;
    position: fixed;
    width: 80px;
  }
  
  .clock.simple:after {
    transition: all .5s ease-in-out;
    background: #000;
    border-radius: 50%;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 5%;
    height: 5%;
    z-index: 10;
  }

  .minutes-container, .hours-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .hours {
    background: #000;
    height: 20%;
    left: 48.75%;
    position: absolute;
    top: 30%;
    transform-origin: 50% 100%;
    width: 2.5%;
  }

  .minutes {
  background: #000;
  height: 40%;
  left: 49%;
  position: absolute;
  top: 10%;
  transform-origin: 50% 100%;
  width: 2%;
}

@keyframes rotate {
    100% {
      transform: rotateZ(360deg);
    }
  }

  .hours-container {
    animation: rotate 12s infinite linear;
    animation-play-state: paused;
  }

  .animateDescriptor {    
    animation: fadeinout 1.0s;  
} 