.markChanges{
    transition: all 0.6s;
    transform: scale(1.2);
    font-weight: bold;
    color:bisque;
}

.markChanges--inactive{
    transition: all 1s ease;
    transform: scale(1);
    font-weight: normal;
    color:white;
}

.navInformation--inacvtive{
    transition: transform 2s .1s ease-in-out;
    color: blue;
    top: 30px;
    position: absolute;
}

.navInformation{
    transform: translatex(50px);
    color: blue;
    position: absolute;
    font-weight: bold;
}